﻿@model IEnumerable<maoc.Funcionalidades.ListadoEmpresaViewModel>

@{
    ViewBag.Title = "Lista";
}

<h2>Empresas</h2>

<p>
    @Html.ActionLink("Nueva Empresa", "Registrar",new { userId = @Html.Value("userId") })
</p>
<p>
    @Html.Value("userId")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.IdEmpresa)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IdUsuario)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Razon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rubro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdEmpresa)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.IdUsuario)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Razon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rubro)
        </td>
        <td valign="top" >
             <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Acciones<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Editar", "Editar", new { id = item.IdEmpresa })</li>
                            <li>@Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdEmpresa })</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("ListadoFactura","Lista", "Factura", new { idEmpresax = item.IdEmpresa })</li>
                        </ul>
                     </li>
                    </ul>
                </div>

        </td>
    </tr>
}

</table>
